################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/herbert/FileContentIndex/7cddfe5a-ea31-406f-b987-f8e00fd2e22a.vsidx
/.vs